[Desktop Entry]
Categories=Graphics;3DGraphics;Development;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} %F
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupWMClass={{name}}
StartupNotify=true
MimeType=application/json;
